<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>BookManagment</display-name>
   <welcome-file-list>
    <welcome-file>home</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>JNDI reference to a data source</description>
    <res-ref-name>jdbc/CultureSpot</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
  <servlet>
    <servlet-name>GestioneLibri</servlet-name>
    <servlet-class>BookPackage.GestioneLibri</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GestioneLibri</servlet-name>
    <url-pattern>/ricerca</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>StatisticheLibri</servlet-name>
    <servlet-class>BookPackage.StatisticheLibri</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatisticheLibri</servlet-name>
    <url-pattern>/statistica</url-pattern>
  </servlet-mapping>
  

   
</web-app>